html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    background: transparent;
    width: 6px;               /* width of the entire scrollbar */
  }

  body::-webkit-scrollbar-thumb {
    background-color: orange;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }

  /* ::-webkit-file-upload-button {
    background: #FF4B2B;
    color: white;
    padding: 8px 25px;
    font-size: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-color: #FF4B2B;
    transition: all 0.15s ease;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    line-height: 1.5;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
} */
